.payment_header {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    background-color: lightgrey;
}

.payment_method {
    padding: 30px;
}

.flex {
    display: flex;
    gap: 20px;
    padding: 30px;
}

.flex h3 {
    min-width: 300px;
}