.category {
height: 350px;
width: 350px;
background-color: white;
box-shadow: 0 0 10px black (0,0,0 0.2);
}

.category  img {
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    padding: 0px 10px;
}

.category a {
    text-decoration: none;
    color: black (35, 35, 35);
}

.category  h2,
.category p {
    padding: 5px;
    margin-left: 15px;
}

.category p {
    font-size: 12px;
    font-weight: bold;
    color: cornflowerblue;    
}

.category_container {
    margin-top: -10%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    place-items: center;
}